edurag/n8n_telegram_grading_workflow.json
{
  "name": "EduRAG - Telegram PDF Grading Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram_trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "telegram-edurag-bot",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "operation": "equals",
              "value1": "={{ $json.message.text }}",
              "value2": "/pendientes"
            },
            {
              "operation": "regex",
              "value1": "={{ $json.message.text }}",
              "value2": "^\\/calificar\\s+[a-f0-9-]+"
            },
            {
              "operation": "equals",
              "value1": "={{ $json.message.text }}",
              "value2": "/help"
            }
          ]
        },
        "fallbackOutput": "3"
      },
      "id": "command_router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://edurag-zpil.onrender.com/api/evaluations/pending",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "10"
              }
            ]
          }
        },
        "authentication": "none"
      },
      "id": "get_pending_materials",
      "name": "Get Pending Materials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formato de la lista de materiales pendientes\nconst materials = $input.all()[0].json;\n\nif (!materials || materials.length === 0) {\n  return [{\n    json: {\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      message: \"✅ No hay materiales pendientes de calificar.\"\n    }\n  }];\n}\n\n// Crear mensaje formateado\nlet message = \"📚 *Materiales Pendientes de Calificación*\\n\\n\";\n\nmaterials.forEach((material, index) => {\n  message += `${index + 1}. *${material.title}*\\n`;\n  message += `   📖 Curso: ${material.course_name}\\n`;\n  message += `   📅 Subido: ${new Date(material.uploaded_at).toLocaleDateString('es-ES')}\\n`;\n  message += `   🆔 ID: \\`${material.material_id}\\`\\n`;\n  message += `\\n`;\n});\n\nmessage += \"\\n💡 Para calificar un material usa:\\n\";\nmessage += \"`/calificar [ID]`\\n\\n\";\nmessage += \"_Ejemplo: /calificar abc123..._\";\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    message: message\n  }\n}];"
      },
      "id": "format_pending_list",
      "name": "Format Pending List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer material_id del comando /calificar\nconst text = $('Telegram Trigger').item.json.message.text;\nconst match = text.match(/\\/calificar\\s+([a-f0-9-]+)/i);\n\nif (!match) {\n  return [{\n    json: {\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      error: true,\n      message: \"❌ Formato inválido. Usa: `/calificar [ID]`\"\n    }\n  }];\n}\n\nconst materialId = match[1];\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    materialId: materialId,\n    error: false\n  }\n}];"
      },
      "id": "extract_material_id",
      "name": "Extract Material ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://edurag-zpil.onrender.com/api/materials/{{ $json.materialId }}",
        "authentication": "none"
      },
      "id": "get_material_info",
      "name": "Get Material Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://edurag-zpil.onrender.com/api/materials/{{ $('Extract Material ID').item.json.materialId }}/download",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download_pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "getBinaryMetadata"
      },
      "id": "extract_pdf_text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "disabled": true,
      "notes": "Nota: n8n no tiene extracción de PDF nativa.\nEsto se hace en el backend con OCR."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un asistente educativo experto en evaluar materiales académicos (PDFs).\n\nTu tarea es calificar el siguiente material basándote en estos criterios:\n\n**CRITERIOS DE EVALUACIÓN:**\n1. **Coherencia (0-10):** ¿El contenido tiene sentido? ¿Las ideas fluyen lógicamente? ¿Hay contradicciones?\n2. **Estructura (0-10):** ¿Está bien organizado? ¿Tiene introducción, desarrollo y conclusión? ¿Usa títulos y subtítulos apropiados?\n\n**INSTRUCCIONES:**\n- Califica de 0 a 10 (puedes usar decimales como 7.5)\n- Calificación final = promedio de coherencia y estructura\n- Identifica 2-4 fortalezas específicas\n- Sugiere 2-4 mejoras concretas\n- Sé constructivo pero honesto\n\n**FORMATO DE RESPUESTA (JSON estricto):**\n```json\n{\n  \"score\": 8.5,\n  \"coherence_score\": 9.0,\n  \"structure_score\": 8.0,\n  \"strengths\": [\n    \"Excelente uso de ejemplos prácticos\",\n    \"Argumentación clara y bien fundamentada\"\n  ],\n  \"improvements\": [\n    \"Agregar más referencias bibliográficas\",\n    \"Mejorar la conclusión con recomendaciones específicas\"\n  ]\n}\n```\n\n**IMPORTANTE:** Responde SOLO con el JSON, sin texto adicional."
            },
            {
              "role": "user",
              "content": "=**Material a evaluar:**\n\nTítulo: {{ $('Get Material Info').item.json.title }}\nCurso: {{ $('Get Material Info').item.json.course?.name || 'N/A' }}\nTipo: {{ $('Get Material Info').item.json.material_type }}\n\n**Contenido del PDF:**\n\nNOTA: El texto del PDF se extraerá usando el endpoint del backend que tiene OCR integrado.\n\nPara esta demo, usa este placeholder:\n\n{{ $json.extracted_text || '[El backend extraerá el texto aquí usando OCR si es PDF escaneado]' }}\n\n---\n\nPor favor, evalúa este material según los criterios establecidos."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "ai_grading",
      "name": "AI Grading (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      },
      "notes": "IMPORTANTE: En producción, primero llama al backend\npara extraer el texto del PDF con OCR si es necesario."
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de OpenAI y preparar para enviar al backend\nconst aiResponse = $input.first().json.message.content;\n\n// Intentar parsear JSON\nlet evaluation;\ntry {\n  evaluation = JSON.parse(aiResponse);\n} catch (e) {\n  // Si no es JSON válido, extraer con regex\n  const scoreMatch = aiResponse.match(/\"score\"\\s*:\\s*([0-9.]+)/);\n  const coherenceMatch = aiResponse.match(/\"coherence_score\"\\s*:\\s*([0-9.]+)/);\n  const structureMatch = aiResponse.match(/\"structure_score\"\\s*:\\s*([0-9.]+)/);\n  \n  evaluation = {\n    score: scoreMatch ? parseFloat(scoreMatch[1]) : 5.0,\n    coherence_score: coherenceMatch ? parseFloat(coherenceMatch[1]) : 5.0,\n    structure_score: structureMatch ? parseFloat(structureMatch[1]) : 5.0,\n    strengths: [\"Evaluación requiere revisión manual\"],\n    improvements: [\"El formato de respuesta de la IA no fue válido\"]\n  };\n}\n\n// Validar scores\nif (evaluation.score < 0 || evaluation.score > 10) evaluation.score = 5.0;\nif (evaluation.coherence_score < 0 || evaluation.coherence_score > 10) evaluation.coherence_score = 5.0;\nif (evaluation.structure_score < 0 || evaluation.structure_score > 10) evaluation.structure_score = 5.0;\n\n// Asegurar que son arrays\nif (!Array.isArray(evaluation.strengths)) evaluation.strengths = [];\nif (!Array.isArray(evaluation.improvements)) evaluation.improvements = [];\n\nconst materialId = $('Extract Material ID').item.json.materialId;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst username = $('Telegram Trigger').item.json.message.from.username || 'unknown';\n\nreturn [{\n  json: {\n    material_id: materialId,\n    evaluated_by: username,\n    score: evaluation.score,\n    coherence_score: evaluation.coherence_score,\n    structure_score: evaluation.structure_score,\n    strengths: evaluation.strengths,\n    improvements: evaluation.improvements,\n    ai_model: \"gpt-4o-mini\",\n    ai_analysis: evaluation,\n    pdf_type: \"digital\", // El backend determinará esto con OCR\n    chatId: chatId,\n    materialTitle: $('Get Material Info').item.json.title\n  }\n}];"
      },
      "id": "prepare_evaluation_data",
      "name": "Prepare Evaluation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://edurag-zpil.onrender.com/api/evaluations",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  material_id: $json.material_id,\n  evaluated_by: $json.evaluated_by,\n  score: $json.score,\n  coherence_score: $json.coherence_score,\n  structure_score: $json.structure_score,\n  strengths: $json.strengths,\n  improvements: $json.improvements,\n  ai_model: $json.ai_model,\n  ai_analysis: $json.ai_analysis,\n  pdf_type: $json.pdf_type\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "save_to_backend",
      "name": "Save Evaluation to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta final para el usuario\nconst evaluation = $input.first().json;\n\nconst message = `✅ *Calificación Guardada*\\n\\n` +\n  `📄 *${evaluation.materialTitle || 'Material'}*\\n\\n` +\n  `📊 *Calificación Final:* ${evaluation.score}/10\\n` +\n  `   • Coherencia: ${evaluation.coherence_score}/10\\n` +\n  `   • Estructura: ${evaluation.structure_score}/10\\n\\n` +\n  `💪 *Fortalezas:*\\n` +\n  evaluation.strengths.map((s, i) => `${i + 1}. ${s}`).join('\\n') + '\\n\\n' +\n  `📈 *Áreas de Mejora:*\\n` +\n  evaluation.improvements.map((s, i) => `${i + 1}. ${s}`).join('\\n') + '\\n\\n' +\n  `🤖 Evaluado con: ${evaluation.ai_model}\\n` +\n  `👤 Por: @${evaluation.evaluated_by}`;\n\nreturn [{\n  json: {\n    chatId: evaluation.chatId,\n    message: message\n  }\n}];"
      },
      "id": "format_success_response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send_telegram_response",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Help command\nconst helpMessage = `🤖 *EduRAG Bot - Ayuda*\\n\\n` +\n  `*Comandos disponibles:*\\n\\n` +\n  `/pendientes - Ver materiales sin calificar\\n` +\n  `/calificar [ID] - Calificar un material específico\\n` +\n  `/help - Mostrar esta ayuda\\n\\n` +\n  `*Ejemplo de uso:*\\n` +\n  `1️⃣ Escribe \\`/pendientes\\` para ver la lista\\n` +\n  `2️⃣ Copia el ID del material que quieres calificar\\n` +\n  `3️⃣ Escribe \\`/calificar [ID]\\`\\n\\n` +\n  `✨ *Características:*\\n` +\n  `• Calificación automática con IA\\n` +\n  `• Soporte para PDFs escaneados (OCR)\\n` +\n  `• Evaluación de coherencia y estructura\\n` +\n  `• Retroalimentación constructiva\\n\\n` +\n  `💡 *Sistema educativo RAG integrado*`;\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    message: helpMessage\n  }\n}];"
      },
      "id": "help_command",
      "name": "Help Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Comando desconocido\nconst unknownMessage = `❌ *Comando no reconocido*\\n\\n` +\n  `Usa \\`/help\\` para ver los comandos disponibles.`;\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    message: unknownMessage\n  }\n}];"
      },
      "id": "unknown_command",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Get Pending Materials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Material ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Materials": {
      "main": [
        [
          {
            "node": "Format Pending List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pending List": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Material ID": {
      "main": [
        [
          {
            "node": "Get Material Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Material Info": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "AI Grading (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Grading (OpenAI)": {
      "main": [
        [
          {
            "node": "Prepare Evaluation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Evaluation Data": {
      "main": [
        [
          {
            "node": "Save Evaluation to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Evaluation to Backend": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Command": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Command": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "edurag",
      "name": "EduRAG"
    },
    {
      "id": "telegram",
      "name": "Telegram"
    },
    {
      "id": "ai-grading",
      "name": "AI Grading"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "edurag-production"
  },
  "pinData": {},
  "versionId": "1.0.0"
}
